@import "src/assets/scss/addition/break-points";

.flexSlider {
  padding-bottom: 80px;
  zoom: 1;
  position: relative;
  @media screen and (min-width: $md) {
    padding-bottom: 5px;
  }
  @media screen and (min-width: $xl) {
    padding-bottom: 40px;
  }
  @media screen and (min-width: 1550px) {
    padding-bottom: 0;

  }
}