@import "src/assets/scss/addition/break-points";

.controlPanel {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: $md) {
    width: 50%;
  }
  @media screen and (min-width: $lg) {

  }
  @media screen and (min-width: 1500px) {
    bottom: 10%;
  }

}

input[type=radio] {
  margin: 0 6px;
  appearance: none;
  width: 11px;
  height: 11px;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;

  border-radius: 20px;
}

input[type=radio].activeRadioButton {
  background: rgba(255, 255, 255, 1);
  cursor: default;
}
