.employeesLinks {
  border: 1px solid #e8ecee;
  border-radius: 2px;
  color: #c6cacc;
  display: block;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  margin-right: 5px;
  text-align: center;
  width: 40px;

  span {
    font-size: inherit;
  }

  &:hover {
    background-color: #e84545;
    border-color: #e84545;
    color: #fff;
  }
}